.taskscontainer {
  /* border: 1px solid red; */
  height: auto;
  margin: 50px auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  color: black;
}

.maintasksection {
  /* border: 1px solid red; */
  padding: 50px;
  background-color: white;
  border-radius: 0 0 50px 50px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.08);
}

.firstblock {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.hr {
  width: 95%;
  margin: 30px 0 0;
}

.singletask {
  /* margin: 20px 0; */
  /* border: 1px solid red; */
}

.updatedelete,
.savecancel {
  display: flex;
  gap: 15px;
  margin: 20px 0;
  align-items: center;
  /* border: 1px solid red; */
}

.commenttext {
  width: 400px;
  height: 55px;
  font-size: 17px;
  padding: 0 15px;
  overflow-x: hidden;
  /* border: 1px solid red; */
}

.commentinputtext {
  width: 400px;
  height: 55px;
  border-radius: 15px;
  font-size: 17px;
  padding: 0 15px;
  border: none;
  outline: none;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.08);
  font-family: 'Poppins', sans-serif;
}

.p2 {
  font-size: 40px;
  font-weight: 800;
  color: black;
}

.button {
  width: auto;
  height: 55px;
  padding: 5px 16px 0;
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.08);
  border-radius: 15px;
  background-color: white;
}

/* ------------search bar------------ */

.searchbarsection{
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding: 50px;
  background-color: white;
  border-radius: 50px 50px 0 0;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.08);
}

.searchbarsection input{
  width: 200px;
  height: 55px;
  border-radius: 15px;
  font-size: 17px;
  padding: 0 15px;
  border: none;
  outline: none;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.08);
  font-family: 'Poppins', sans-serif;
}


/* ------------search bar------------ */


@media screen and (max-width: 767px) {
  .taskscontainer {
    padding: 0 30px;
    width: 100%;
    margin: 30px auto;
  }

  .p2 {
    font-size: 35px;
  }

  .searchbarsection{
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 575px) {

  .commentinputtext,
  .commenttext,
  .button {
    height: 50px;
    font-size: 15px;
  }

  .commentinputtext{
    width: 300px;
    overflow-x: hidden;
  }

  .commenttext, .singletask .commentinputtext {
    padding: 0 10px;
    width: 300px;
  }

  .searchbarsection{
    gap: 15px;
  }
  
  .searchbarsection input{
    width: 140px;
    height: 50px;
    font-size: 15px;
  }

  .taskscontainer {
    padding: 0 15px;
    margin: 15px auto;
    /* border: 1px solid red; */
  }

  .maintasksection {
    padding: 30px 20px;
    border-radius: 30px 30px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .searchbarsection {
    padding: 30px;
    margin-bottom: 15px;
    border-radius: 30px 30px;
  }

  .updatedelete,
  .savecancel {
    gap: 10px;
    margin: 15px 0;
    flex-wrap: wrap;
    /* border: 1px solid red; */
  }

  .firstblock {
    flex-wrap: wrap;
    gap: 10px;
  }

  .p2 {
    font-size: 30px;
  }

  .button {
    height: 50px;
    padding: 4px 13px 0;
  }
}